.leftcontainer{
    background-color: rgb(241, 211, 40);
    height: 500px;
    background-size: cover;
}

.rightcontainer{
    background-color: rgb(63, 62, 58);
    height: 500px;
    background-size: cover;
}

.para1{
    
    color: rgb(63, 62, 58);
}

.container1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
}

.parentbox{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    padding: 10px;

}

.box{
    border: 1px solid rgb(128, 113, 53);
    height: 100px;
    background-color: rgb(185, 137, 46);
    
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    
}
.box1{
    background-color: rgb(241, 211, 40);
    border: 1px solid rgb(160, 134, 29);
   
    height: 100px;
    
    
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
}


.symbols{
    margin-top: 15px;
    margin-left: 10px;
    height: 25px;
    width: 25px;
    font-weight: bold;
    font-size: 15px;
}
.symbols1{
    margin-top: 15px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
}